name: CI
on: [push, pull_request]

jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: update-ncnn
      run: |
        cd src/ncnn
        git checkout master
        git pull origin master
        git submodule update --init --recursive
    - name: vulkansdk
      run: |
        Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/latest/windows/vulkan-sdk.exe -OutFile vulkan-sdk.exe
        $installer = ".\vulkan-sdk.exe"
        $args = @("--root", "$($PWD)\VulkanSDK", "--accept-licenses", "--default-answer", "--confirm-command", "install")
        Start-Process -FilePath $installer -ArgumentList $args -Wait
    - name: build
      run: |
        $env:VULKAN_SDK="$(pwd)/VulkanSDK"
        mkdir build; cd build
        cmake -A x64 ../src
        cmake --build . --config Release -j 2

  ubuntu:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: install-deps
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libvulkan-dev
    - name: update-ncnn
      run: |
        cd src/ncnn
        git checkout master
        git pull origin master
        git submodule update --init --recursive
    - name: vulkansdk
      run: |
        wget -q https://sdk.lunarg.com/sdk/download/latest/linux/vulkan-sdk.tar.xz -O vulkan-sdk.tar.xz
        mkdir vulkansdk
        tar -xf vulkan-sdk.tar.xz -C vulkansdk --strip-components=1
    - name: build
      run: |
        export VULKAN_SDK=`pwd`/vulkansdk/x86_64
        mkdir build && cd build
        cmake ../src
        cmake --build . -j $(nproc)

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: update-ncnn
      run: |
        cd src/ncnn
        git checkout master
        git pull origin master
        git submodule update --init --recursive
    - name: vulkansdk
      run: |
        wget -q https://sdk.lunarg.com/sdk/download/latest/mac/vulkan-sdk.zip -O vulkan-sdk.zip
        unzip -q vulkan-sdk.zip -d temp_sdk
        INSTALLER=$(find temp_sdk -name "vulkansdk-macOS*" -path "*/Contents/MacOS/*" -type f | head -n 1)
        chmod +x "$INSTALLER"
        "$INSTALLER" --root $(pwd)/vulkansdk --accept-licenses --default-answer --confirm-command install
        echo "Installing Vulkan SDK..."
        rm -rf temp_sdk
    - name: build-x86_64
      run: |
        export VULKAN_SDK=$(pwd)/vulkansdk/macOS
        echo "Vulkan SDK Root: $VULKAN_SDK"
        if [ ! -f "$VULKAN_SDK/bin/glslangValidator" ]; then
          echo "glslangValidator not found at expected path!"
          ls -R vulkansdk
          exit 1
        fi
        echo "Detected Vulkan SDK at: $VULKAN_SDK"
        mkdir build-x86_64 && cd build-x86_64
        cmake -DUSE_STATIC_MOLTENVK=ON -DCMAKE_OSX_ARCHITECTURES="x86_64" \
            -DVulkan_INCLUDE_DIR=$VULKAN_SDK/include \
            -DVulkan_LIBRARY=$VULKAN_SDK/lib/libvulkan.dylib \
            ../src
        cmake --build . -j $(sysctl -n hw.ncpu)
    - name: build-arm64
      run: |
        export VULKAN_SDK=`pwd`/vulkansdk/macOS
        mkdir build-arm64 && cd build-arm64
        cmake -DUSE_STATIC_MOLTENVK=ON -DCMAKE_OSX_ARCHITECTURES="arm64" \
            -DVulkan_INCLUDE_DIR=`pwd`/../vulkansdk/MoltenVK/include \
            -DVulkan_LIBRARY=`pwd`/../vulkansdk/MoltenVK/MoltenVK.xcframework/macos-arm64_x86_64/libMoltenVK.a \
            ../src
        cmake --build . -j $(sysctl -n hw.ncpu)
